header.header.border-bottom
  .header__info
    .container
      .row.no-gutters.align-items-center
        .col
          ul.list-inline.mb-0.header__adress.header__list
            li.list-inline-item.header__list-item
              a(href="#").mdi.mdi-map-marker Красноярск, Сурикова 12
            li.list-inline-item.header__list-item
              a(href="tel:+73912590948").mdi.mdi-phone-in-talk +7(391)259-09-48
        .col.text-right
          a(href="#").btn.btn-primary.header__btn Заказать сейчас
  nav.header__nav
    .container
      .row.no-gutters.align-items-center
        .col-auto
          .logo.header__logo
            img.img-fluid(src="/img/logo.png", alt="/")
        .col.text-right
          ul.list-inline.mb-0.header__list
            li.list-inline-item.header__list-item
              a(href="#") Главная
                i.mdi.mdi-chevron-down 
            li.list-inline-item.header__list-item
              a(href="#") Лодки
                i.mdi.mdi-chevron-down 
            li.list-inline-item.header__list-item
              a(href="#") Контакты
                i.mdi.mdi-chevron-down 